-	
	var styles = [
		"https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap",
		"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css",
		"https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css",
		"css/style.css"
	]


-	
	var scripts = [
		"https://code.jquery.com/jquery-2.2.4.js",
		"https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js",
		"js/scripts.js"
	]

-	
	var menu = ["hello!!!", "about me", "my work", "contact", "CV"]

-	
	var socialIcons = [
		"icon-facebook",
		"icon-twitter",
		"icon-linkedin-sign",
		"icon-youtube",
		"icon-google-plus"
	]