#social{
	margin-top: 70px;
	text-align: center;

	ul{
		font-size: 0;

		li{
			display: inline-block;
			margin: 0 4px;
			
			a{
				display: block;
				width: 38px;
				height: 38px;
				color: var(--social_links_color);
				background: var(--white);
				border-radius: 50%;
				position: relative;

				&::before{
					font-size: var(--default_font_size);
					cursor: pointer;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 3;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	@media (min-width: 1000px){
		margin-top: 114px;
	}
}