:root{
	--primary_font_family: "Open Sans", sans-serif;
	--secondary_font_family: "TwCenMTRegular", sans-serif;
	--white: #ffffff;
	--default_font_size: 20px;
	--logo_color: #f5b23d;
	--logo_font_size: 72px;
	--slider_button_color: #171717;
	--slider_button_hover_color: #000000;
	--slide_content_title_color: #1d1d1d;
	--slide_content_title_font_size: 28px;
	--slide_content_text_color: #252525;
	--slide_content_text_font_size: 8px;
	--social_links_color: #1f6874;
	--footer_font_size: 12px;
}